@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Space+Grotesk:wght@300..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Space Grotesk;
}

.main {
  background-color: #151515;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 31px;
}

.main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}

.image-profile-mobile {
  display: block;
}

.image-profile-desktop {
  display: none;
}

.image-profile-tablet {
  display: none;
}

.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.header {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.3333333432674408px;
  text-align: left;
}

.logos {
  display: flex;
  align-items: center;
  gap: 25px;
}

.image-profile-mobile {
  transform: translate(10px, -112px);
}

.greeting {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1.1363636255264282px;
  text-align: center;
}

.rectangle {
  width: 225px;
  height: 4px;
  top: 80px;
  left: 86px;
  gap: 0px;
  opacity: 0px;
  background-color: #4ee1a0;
}

.rectangle-style {
  width: 225px;
  height: 4px;
  top: 80px;
  left: 86px;
  gap: 0px;
  opacity: 0px;
  background-color: #4ee1a0;
}

.paragraph-style {
  font-family: Space Grotesk;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
}

.rectangle-two {
  width: 343px;
  height: 1px;
  top: 747px;
  left: 16px;
  gap: 0px;
  opacity: 0px;
  background-color: #ffffff;
}

.technology {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.tech-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 71px;
}

.contact-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  width: 397px;
}

.information-section {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.project-header {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
}

.technology-two {
  color: #d9d9d9;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  display: flex;
  gap: 18px;
}

.project-description {
  font-family: Space Grotesk;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2.2857143878936768px;
  text-align: left;
  gap: 32px;
  display: flex;
}

.rectangle-project {
  width: 138px;
  height: 2px;
  top: 36px;
  gap: 0px;
  opacity: 0px;
  background-color: #4ee1a0;
}

.rectangle-code {
  width: 103px;
  height: 2px;
  top: 36px;
  gap: 0px;
  opacity: 0px;
  background-color: #4ee1a0;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #242424;
  padding: 49px;
  gap: 9px;
}

.form-container {
  padding: 20px;
  width: 300px;
}

.form-container label {
  color: #cccccc;
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
}

.form-container input,
.form-container textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  background-color: #242424;
  color: #ffffff;
  outline: none;
  border-radius: 4px;
  border: none;
}

.form-container textarea {
  height: 100px;
  resize: none;
}

.form-container button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  border: none;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  transition: all 0.3s ease;
}

.form-container button::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: #00ff99;
  bottom: -5px;
  left: 25%;
  transition: width 0.3s ease;
}

.form-container button:hover::after {
  width: 100%;
  left: 0;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-info-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  width: 343px;
  height: 1px;
  top: 42px;
  gap: 0px;
  opacity: 0px;
  background: #ffffff;
  transform: translate(-8px, -25px);
}

.footer-contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
  margin-top: 16px;
}

.love-to-hear-section {
  font-family: Space Grotesk;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
}

@media (min-width: 768px) {
  .main-info {
    display: flex;
    flex-direction: row;
    gap: 344px;
    transform: translate(-13px, 53px);
  }

  .header-section {
    flex-direction: row-reverse;
    align-items: center;
  }

  .header {
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.4444444477558136px;
    text-align: left;
  }

  .image-profile-mobile {
    display: none;
  }

  .image-profile-desktop {
    display: none;
  }

  .image-profile-tablet {
    display: block;
    width: 444px;
  }

  .greeting {
    font-size: 72px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -2.045454502105713px;
    text-align: left;
    transform: translate(85px, 17px);
  }

  .rectangle {
    width: 402px;
    height: 6px;
    transform: translate(116px, -36px);
  }

  .rectangle-two {
    width: 706px;
    height: 1px;
  }

  .second-section {
    gap: 60px;
  }

  .contact-me {
    transform: translate(-87px, 162px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-style {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 2.2857143878936768px;
    text-align: left;
  }

  .rectangle-style {
    width: 120px;
    height: 2px;
  }

  .technology {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 52px;
    margin-top: 31px;
  }

  .experience-description {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -1.5px;
    text-align: left;
  }

  .project-section {
    gap: 313px;
    margin-top: 62px;
  }

  .projects-style {
    font-size: 72px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -2.045454502105713px;
    text-align: left;
  }

  .gallery-section {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 23px;
    margin-top: 34px;
  }

  .line {
    width: 445px;
    height: 1px;
  }

  .footer-contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info {
    flex-direction: row;
    gap: 344px;
  }

  .name-style {
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.4444444477558136px;
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .main-info {
    gap: 716px;
    display: flex;
    align-items: center;
  }
  .image-profile-mobile {
    display: none;
  }

  .greeting {
    transform: translate(150px, 10px);
  }

  .rectangle {
    transform: translate(10px, -28px);
  }

  .image-profile-desktop {
    display: block;
    width: 700px;
  }

  .image-profile-tablet {
    display: none;
  }

  .rectangle-two {
    width: 1110px;
    height: 1px;
  }

  .paragraph-style {
    width: 445px;
  }
  .technology {
    grid-template-columns: 2fr 2fr 2fr;
  }

  .image {
    width: 547.17px;
  }

  .footer-section {
    padding: 96px;
  }

  .footer-contact-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 150px;
  }

  .contact-info-title {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }

  .contact-info-item {
    font-size: 88px;
    font-weight: 700;
    line-height: 88px;
    letter-spacing: -2.5px;
    text-align: left;
  }

  .love-to-hear-section {
    font-family: Space Grotesk;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    width: 445px;
    height: 84px;
  }

  .info {
    gap: 716px;
  }
}
